---
import Layout from "@layouts/Layout.astro";
// import Card from "../components/astro/Card.astro";
import TitleScreen from "@components/svelte/TitleScreen.svelte";

import { GradientButton } from "flowbite-svelte";
import DarkMode from "@components/svelte/DarkMode.svelte";
---

<Layout title="SpicyBet / Lose money with friends...">
  <DarkMode client:idle />
  <main class="bg-white dark:bg-gray-800">
    <div class="front-title">
      <TitleScreen client:idle />
      <GradientButton href="/new" color="purpleToBlue">
        New match
      </GradientButton>
    </div>
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .front-title {
    text-align: center;
  }
</style>
