---
import LandingLayout from "@layouts/LandingLayout.astro";
import Card from "../components/Card.astro";
import TitleScreen from "@components/TitleScreen.svelte";
import { DarkMode } from "flowbite-svelte";
---

<LandingLayout title="SpicyBet / Lose money with friends...">
  <div class="dark-mode-selector">
    <DarkMode target={null} client:idle />
  </div>
  <main class="bg-white dark:bg-gray-800">
    <div class="front-title">
      <TitleScreen client:idle />
    </div>
  </main>
</LandingLayout>

<style>
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dark-mode-selector {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }

  .front-title {
    text-align: center;
  }
</style>
