---
import Layout from "@layouts/Layout.astro";
import DarkMode from "@components/svelte/DarkMode.svelte";
import Lobby from "@components/svelte/Lobby.svelte";
---

<Layout title="SpicyBet / Lose money with friends...">
  <DarkMode client:idle />
  <main class="bg-white dark:bg-gray-800">
    <Lobby client:only="svelte" />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .front-title {
    text-align: center;
  }
</style>
