---
// Utility route that redirects to a new match

import CenterLayout from "@layouts/Layout.astro";
---

<script>
  const newMatchId = "test-id"; //nanoid(); // For production
  window.location.replace(`/lobby/?match=${newMatchId}`);
</script>

<CenterLayout title="Redirecting...">
  <main>...</main>
</CenterLayout>
