---
// Utility route that redirects to a new match
// export const prerender = false;

import CenterLayout from "@layouts/CenterLayout.astro";

// import { nanoid } from "nanoid";
// const newMatchId = "test-id"; //nanoid();

// return Astro.redirect(`/match/${newMatchId}`);
---

<!-- Do this using client side instead -->
<script>
  const newMatchId = "test-id"; //nanoid();
  window.location.replace(`/match/${newMatchId}`);
</script>

<CenterLayout title="SpicyBet / Lose money with friends...">
  <main>...</main>
</CenterLayout>

