---
// Utility route that redirects to a new match

import CenterLayout from "@layouts/Layout.astro";
---

<!-- Do this using client side instead -->
<script>
  const newMatchId = "test-id"; //nanoid();
  window.location.replace(`/match/?match=${newMatchId}`);
</script>

<CenterLayout title="Redirecting...">
  <main>...</main>
</CenterLayout>
